/**************************ACCUEIL***********************************/
.titre{
  font-size: 55px;
}

.taille{
  font-size: 38px;
}

.ecart{
  margin-top: 20px;
}

.row-ecart{
  margin-bottom: -44px;
}

/**************************COMPETENCES******************************/
.contenu {
    width: 100%;
    background-color: #EEE;
    border-radius: 5px;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: grey;
    border-radius: 5px;
}

.html {
  width: 80%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.css {
  width: 70%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.php {
  width: 50%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.sql {
  width: 40%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.js {
  width: 35%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.jq {
  width: 35%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
.wp {
  width: 30%;
  background-image: linear-gradient(90deg, #f3d7ca 0%, #f5eee6 100%);
}
