/********************************HAUT DE PAGE*********************************/
body {
	background-image: url("../img/ilu_overlay.png");
  /* background: white; */
  font-family: 'Bubblegum Sans', cursive;
	color:#130d0a;
}
h1{
  text-align: center;
  color: #130d0a;
  margin-top: 52px;
}
h2 {
	font-size: 2.7em;
  font-weight: normal;
	padding: 10px 0 16px 0;
  margin: 0 0 30px;
	text-align:center;
	color:#FFAF00;
  background:#000;
	border-radius:2px;
	border: 1px solid #FFAF00;
}
.bg_anim {
    mix-blend-mode: unset;
    background-position: center;
    background-image: url(https://i.imgur.com/j5mHDaA.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    top: 0;
    background-size: cover;
    z-index: -1;
  }
/**************************COMPETENCE*********************************/
h2.plataformas {
  border: 1px solid #81BDA4;
  color: #81BDA4;
}

h2.programas {
  border: 1px solid #F6AA93;
  color:#F6AA93;
}

.container {
	width: 90%;
  padding:5%;
	margin: 0 auto;
	overflow: hidden;
}

.col {
	width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
}
/*.col { width:101%; }*/
.skill {
	list-style:none;
	padding-top:30px;
  margin-left: -38px;
}

.skill li {
	margin-bottom:70px;
	background:#030303;
	height:6px;
	border-radius:3px;
	border-left:1px solid #111;
	border-top:1px solid #111;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}

.skill li em {
	position:relative;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#111;
	top:-28px;
}

.blueline {
	height: 3px;
	margin: 2px 0;
	background: #FFAF00;
	position: absolute;
}
.greenline {
	height: 3px;
	margin: 2px 0;
	background: #81BDA4;
	position: absolute;
}
.redline {
	height: 3px;
	margin: 2px 0;
	background: #F6AA93;
	position: absolute;
}

.titulo      { opacity:1;  animation:titulo 5s ease-out;     }

/*front*/
.html        { width:80%;  animation:html 2s ease-out;       }
.css         { width:75%;  animation:css 2s ease-out;        }
.javascript  { width:20%;  animation:javascript 2s ease-out; }
.jquery      { width:20%;  animation:jquery 2s ease-out;     }

/*back*/
.php         { width:50%;  animation:php 2s ease-out;        }
.silex       { width:20%;  animation:silex 2s ease-out;      }
.laravel     { width:10%;  animation:laravel 2s ease-out;    }

/*plateforme*/
.photoshop   { width:30%;  animation:photoshop 2s ease-out;  }
.bootstrap   { width:70%;  animation:bootstrap 2s ease-out;  }
.wordpress   { width:50%;  animation:wordpress 2s ease-out;  }


@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }

/*front*/
@keyframes html        { 0% { width:0px; } 100% { width:80%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:75%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:20%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:20%; }  }

/*back*/
@keyframes php         { 0% { width:0px; } 100% { width:50%; }  }
@keyframes silex       { 0% { width:0px; } 100% { width:20%; }  }
@keyframes laravel     { 0% { width:0px; } 100% { width:10%; }  }

/*plateforme*/
@keyframes photoshop   { 0% { width:0px; } 100% { width:30%; }  }
@keyframes bootstrap   { 0% { width:0px; } 100% { width:70%; }  }
@keyframes wordpress   { 0% { width:0px; } 100% { width:50%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}
/*************************REALISATION**************************************/
p{
  color: black;
}

.work-item {
  /*height: auto;*/
  background-color: #fff;
  margin-top: 50px;
  padding: 0;
  position: relative;
  box-shadow: -6px 6px 10px #4d4d4d;
  /*height: 426px;*/
}

.itemInfo {
  position: absolute;
  width: 40%;
  padding: 10px 0 0 10px;
  line-height: 120%;
}

.item {
  width: 45%;
  height: 100%;
  padding-top: 30px;
  background: #333;
  position: relative;
  left: 0;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}


.work-item:hover .item { /*portfolio item movement and opacity change*/
  left: 55%;
  /*background: -webkit-linear-gradient(rgba(115,192,214,0.3),rgba(186,143,212,0.3));
  background: -o-linear-gradient(rgba(115,192,214,0.3),rgba(186,143,212,0.3));
  background: -moz-linear-gradient(rgba(115,192,214,0.3),rgba(186,143,212,0.3));
  background: linear-gradient(rgba(115,192,214,0.3), rgba(186,143,212,0.3));*/
}

.pcIcon {
  width: 100%;
  height: auto;
}

.projectTitle {
  color: #fff;
  width: 100%;
  line-height: 32px;
  font-size: 21px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.projectTitle .fontLora {
  font-size: 18px;
}

.link {
  position: absolute;
  top: 45%;
  right: 45%;
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.work-item:hover .link {
  opacity: 1;
}

/*****************************FOOTER*****************************************/
.container {
  width: 90%;
  padding: 1%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 57  px;
}
