/****************************HAUT DE PAGE**************************************/
body {
  padding: 0;
  margin: 0;
  background-color:#D8DFE2;
  font-family: 'Bubblegum Sans', cursive;
  color: #F1F1F1;
}
/* .navbar{
  background: rgba(388,356,334,-2.5);
  border: none;
} */
.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand img{
  height: 50px;
  width: 50px;
}
.navbar-header {
float: none;
}
.navbar-toggle {
display: block;
}
.navbar-collapse.collapse {
display: none!important;
}
.navbar-nav {
float: none!important;
}
.navbar-nav>li {
float: none;
}
.navbar-collapse.collapse.in{
display:block !important;
}
.dropdown-menu{
  background-color: #000;
  color: #9d9d9d;
}
.dropdown-menu li a{
  background-color: #000;
  color: #9d9d9d;
}
/*****************************DESSIN ET PARALLAX*************************************/
#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #130d0a;

}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}


#hero, .layer {
  min-height: 800px;
}


/*.layer-bg {
  background-image: url("../img/galaxy.jpg");
}*/

/*.layer-1 {
  background-image: url("../img/ilu_03.png");
  background-position: left bottom;
}*/

.layer-2 {
  background-image: url("../img/ilu_02.png");
}

/*.layer-3 {
  background-image: url("../img/ilu_.png");
  background-position: right bottom;
}*/

.layer-4 {
  background-image: url("../img/ilu_01.png");
}

.layer-overlay {
  background-image: url("../img/ilu_overlay.png");
}

/*********************************ICONES***************************************/
.fa-file-code-o{
  color: #FFAF00;
}

.fa-book{
  color: #F6AA93;
}

.fa-pencil-square{
  color: #81BDA4;
}
/**********************************SECTION******************************************/
h1 {
  line-height: 120%;
  margin-bottom: 30px;
  color: black;
  font-size: 50px;
}

h3{
  text-align: center;
  margin-top: 75px;
  color: #E3F8FF;
}

p {
  color: #E3F8FF;
  font-size: 18px;
  line-height: 150%;
}

.texte{
  margin-top: 14%;
  text-align: center;
}
/*******************************RESPONSIVE*********************************************/
@media only screen and (max-width: 768px) {
  #hero {
    /*display: none;*/
    display: block;
  }
  /*#hero-mobile {
    display: block;
  }*/
}

@media (max-width: 480px){
  .social{
    display: none;
  }
}

/********************************ECRITURE QUI DEFILE********************************************/
.blinking-cursor {
    font-weight: 500;
    margin-left: 4px;
    font-size: 20px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
#holder{
    color: black;
    font-size: 43px;
}
/**************************RESEAUX SOCIAUX*********************************/
.social {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 93%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
vertical-align: middle;
position: relative;
width: 88px;
height: 91px;
border-radius: 50%;
border: 2px dashed white;
background-clip: content-box;
padding: 7px;
transition: .5s;
/*margin-left: 15px;*/
/*margin-right: 15px;*/
font-size: 55px;
display: flex;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.github {
  background-color: #130d0a;
  color: white;
}

.social .link.linkdin {
  background-color: #00ACEE;
  color: white;
}
/**************************EFFET NEIGE************************************/
#snow {
  background-color: transparent;
  background-image: url(http://wp.agens.no/smakebit/wp-content/themes/smakebiten/img/snow1.png), url(http://wp.agens.no/smakebit/wp-content/themes/smakebiten/img/snow2.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
	z-index: 999;
	right: 0;
  top: 0;
  left: 0;
  bottom: 0;
	margin-top: 0;
	pointer-events: none;
	position: absolute;
}

/*Keyframes*/

@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

/****************************FOOTER************************************/
footer{
  background:linear-gradient(#130d0a, #363333);
  text-align: center;
}

.text-muted{
  margin-top: 33px;
}
